
#intro {
    padding-right: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: large;
}

p {
    padding-right: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #003e60;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: large;
}

h2 {
    padding-right: 70px;
    padding-left: 70px;
    font-family:Impact, Arial, Helvetica, sans-serif;
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 3px;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: large;
}

ul {
    padding-right: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #003e60;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: large;
}

#welcome {
    padding-right: 70px;
    padding-left: 70px;
    color: #000000;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 3px;
    paint-order: stroke fill;
    font-family:Impact, Arial, Helvetica, sans-serif;
    width: 100%;
}

a {
    -webkit-text-fill-color: #99643d;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
    paint-order: stroke fill;
}

.container-fluid{
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 4px;
    font-weight: bold;
    paint-order: stroke fill;
    background-color: #f8f9fa;
}

#row-2{
    background-color: #ffffff;
    width: 100%;
    row-gap: 0px;
}

#row-1{
    background-color: #808080;
    row-gap: 0px;
}

.navbar-nav{
    padding-right: 0;
}
